*{ 
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.context{
  height : 80vh;
}
.navbar{
  background-color: aqua !important;
}
.registerpage{
 background-color: antiquewhite;
 text-align: left;
 padding: 10px;
}

